@{
    ViewData["Title"] = "PasswordExpired";
}

<h1>PasswordExpired</h1>

<h3 class="text-danger">
    Your Password has Expired Please
    <a asp-action="ForgotPassword" asp-controller="Account">
        reset your password by clicking here
    </a>
</h3>